.env
.specstory
.cursorindexingignore
repomix-output.*
node_modules
extract/data/
transform/images/
transform/text/
artifacts/
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.mypy_cache/
.venv/